.App {
  text-align: left;
  font-family: 'Lobster', cursive;;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
/*  height: 150px;
  padding: 20px;*/
  color: white;
}

.App-title {
  font-size: 60px;
  text-align: left;
  padding: 5px;
  font-family: 'Amatic SC', cursive;

}

.App-intro {
  font-size: large;
}

.background {
    background-color: gray;
}

.right-text {
    text-align: left;
}


/*.backgroundimage {
  background: url("/boundarywaters.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.background-photo {
    background: url('boundarywaters.jpg') 50% 40% no-repeat; /* 50% 50% centers image in div */
    background-size: cover;
    height: 100%;
    width: 100%;
    float: left;
    position: fixed;
    z-index: -1;
}
