.App {
  text-align: left;
}

.App-title {
  font-size: 60px;
  text-align: left;
  padding: 10px 10px;
  font-family: 'Amatic SC', cursive;
  color: white;
  margin: 0px;
  right: 10px;
  position: absolute;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.background-photo {
    background: url('./assets/boundarywaters.jpg') 50% 40% no-repeat; /* 50% 50% centers image in div */
    background-size: cover;
    height: 100%;
    width: 100%;
    float: left;
    position: fixed;
    z-index: -1;
}

.inline {
    display: inline-block;
    padding: 2px 10px;
}

.images {
    padding: 30px;
    margin: 0;
    float: right;
    position: absolute;
    top: 60px;
    right: 10px;
    }

.photo-credit {
    position: absolute;
    padding: 0px;
    bottom: 0px;
    right: 10px;
    font-size: 10px;
    color: gray;
}
